/* Container styles */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color:  #C1D8C3;
}

/* Heading styles */
.login-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;}

.login-container h3 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 20px;}

.login-container h4 {
  font-size: 1rem;
  color: #666;
  margin: 15px 0 5px;
  text-align: left;
  width: 100%;
  max-width: 400px;
}

/* Form styles */
form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-text-login {
  padding: 12px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  transition:
    border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  outline: none;
  /* Prevents the default browser focus outline */
}

.input-text-login:focus {
  border-color: #6A9C89 !important;
  box-shadow: 0 0 5px rgba(106, 156, 137, 0.75);
  /* Adds a subtle glow */
  outline: none;
  /* Adds a subtle glow */
}

/* Button styles */
.user-login-button {
  padding: 12px;
  font-size: 16px;
  background-color: #6A9C89;
  color: #FFF5E4;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.user-login-button:hover {
  background-color: #FFA725;
}

.user-login-button:active {
  background-color: #FFA725;
}

/* Signup link styles */
.signup-link {
  margin-top: 30px; /* Increased spacing */
  font-size: 16px;
  color: #6A9C89;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center; /* Center the link */
}

.signup-link:hover {
  color: #6A9C89;
  text-decoration: underline;
}

.error-message-login {
  color: red;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}
.show-password-login {
  display: flex;
  align-items: center; /* Aligns checkmark & text */
  gap: 8px; /* Adjust space between checkmark and text */
  color: #3E3232;
  margin-bottom: 10px;
}