.vote-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

.vote-button {
  padding: 5px;
  font-size: 14px;
  border: none;
  background-color: #fff;
  color: #3E3232;
  transition:
    border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.vote-button-upvoted {
  background-color: #6A9C89;
  color: white;
}

.vote-button-downvoted {
  background-color: #e53e3e;
  color: white;
}

.vote-count {
  margin-left: 0.5rem;
}
