.sideBarNav {
  display: flex;
  flex-direction: column;
  width: 15%;
  border-right: dashed;
  padding: 4% 0 4% 0;
  align-items: center;
}

.menu_button:first-child {
  margin-top: 0;
}

.menu_button {
  height: 40px;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: #6A9C89; /* Changed from cornflowerblue to #2f8632 */
  text-decoration: none; /* Removes underline */
}

.menu_selected {
  background: #C1D8C3;
}

.additional-options {
  display: flex;
  flex-direction: column;
  padding: 4% 0 4% 0;
  align-items: center;
}

.message-options {
  width: max-content;
}

.message-option-selected {
  background: #C1D8C3;
  color: #6A9C89;
  width: 110%;
}
