.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  width: 100%;
  background: #C1D8C3;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #3E3232;
}

.logout-button {
  padding: 12px;
  font-size: 40px;
  background:#C1D8C3;
  color: #FFA725;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-profile-button {
  background: #6A9C89;
  color: #FFF5E4;
  font-size: 16px;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.view-profile-button:hover {
  background: #6A9C89;
}

.view-profile-button:active {
  background: #6A9C89;
}
