.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  width: 100%;
  background: #C1D8C3;
}

.header-logo {
  height: 80px;
  width: auto;
  margin-right: 10px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #3E3232;
}
.left-section {
  flex-grow: 1; /* Keeps the title on the left */
  margin-left: 30px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Add spacing between search bar and buttons */
  margin-right: 20px;
}

#searchBar {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 10px; /* Rounded corners */
  outline: none; /* Removes default browser outline */
}

#searchBar:focus {
  border-color: #6A9C89 !important;
  box-shadow: 0 0 5px rgba(106, 156, 137, 0.75);
  /* Adds a subtle glow */
  outline: none;
  /* Adds a subtle glow */
}

.search-container {
  position: relative;
  width: 300px; /* You can adjust the width */
}

.search-input {
  width: 100%;
  padding-left: 40px; /* Space for the icon */
  padding-right: 10px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding-top: 8px; /* Center text vertically */
  display: block;
  text-indent: 20px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the distance of the icon */
  transform: translateY(-50%);
  font-size: 18px;
  color: #666;
}

.title {
  font-size: 32px;
  font-weight: 800;
}

.logout-button {
  padding: 12px;
  font-size: 40px;
  background:#C1D8C3;
  color: #FFA725;
  border: none;
  border-radius: 5px;
}

.view-profile-button {
  background: #6A9C89;
  color: #FFF5E4;
  font-size: 16px;
  border: none;
  padding: 12px 12px;
  border-radius: 5px;
  font-size: 18px;
  background: #f0ead2;
}

.view-profile-button:hover {
  background: #fdfad9;
}

.view-profile-button:active {
  background: #fdfad9;
}

.logout-button:hover {
  background: #d01e0e;
}

.logout-button:active {
  background: #6A9C89;
}

.view-profile-button:active {
  background: #6A9C89;
}
