.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-height: 80vh;
  background: #FFF5E4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.modal input,
.modal select,
.modal textarea {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Form Group: Adds spacing between inputs */
.form-group {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Add a label to space them better */
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Container for input and button in one line */
.input-button-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adds space between the input and the button */
}

/* Styling for buttons */
.modal button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #6A9C89;
  color: #FFF5E4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.modal button:first-of-type {
  margin-right: 10px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* RBC Calendar Customization */
.rbc-calendar {
  background-color: #FFF5E4; /* Light green background */
}

.rbc-toolbar {
  background-color: #6A9C89; /* Toolbar header in green */
  color: #FFF5E4;
  font-size: 20px;
  font-weight: bold;
}

.rbc-header {
  background-color: #FFA725; /* Header row background */
  color: #FFF5E4;
  font-size: 18px;
}

.rbc-today {
  background-color: #C8E6C9; /* Today's highlight in light green */
}

.rbc-event {
  background-color: #6A9C89; /* Default event background */
  color: #FFF5E4;
}

.rbc-selected {
  background-color: #6A9C89; /* Selected event background */
}
